# Python cache/compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.tmp
*.log
